/* Grunnleggende layout */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  overflow: hidden; /* Hindre scrolling på mobil */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Sørg for at appen fyller hele skjermen */
  width: 100vw;
}

iframe {
  width: 100%;
  height: 100vh; /* Sørg for at iframe fyller hele skjermens høyde */
  border: none;
}
