.bg-dark {
  background-color: #212529 !important;
  color: #f8f9fa !important;
}

.bg-light {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}

.card-footer.bg-dark {
  background-color: #343a40 !important;
}

.card-footer.bg-light {
  background-color: #ffffff !important;
}

.chat-box {
  height: 100%; /* Fyller hele plassen */
  padding: 10px;
}

.input-box {
  border-top: 1px solid #ccc;
}
.aside-container {
  position: relative;
}

.toggle-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}